<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        <title>{{ object.name }}, {{ object.year }}</title>
    </head>
    <body>
        <nav>
          <a href="https://www.civilbeat.org/">
              <img src="{{ url_for('static', filename='cblogo-small.png') }}">
          </a>
        </nav>
      <div id="map" style="width:100%; height:300px;"></div>
      <header>
        <h1>{{ object.name }}</h1> <p>
          <h3>{{ object.incident_location }}, {{ object.year }}</h3>
        {{ object.narrative }} <p>
        Perceived threat: {{ object.threat }} <p>
        Reason for police encounter: {{ object.reason }}
      </header>
      <script type="text/javascript">
            var map = L.map('map').setView([{{ object.lat }}, {{ object.lng }}], 16);
            var osmLayer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 18,
                attribution: 'Civil Beat'
            });
            map.addLayer(osmLayer);
            var blackIcon = L.Icon.extend({
                options: {
                    iconUrl: "{{ url_for('static', filename='marker-15.svg') }}",
                    iconSize: [24, 24]
                }
            });
            var marker = L.marker([{{ object.lat }}, {{ object.lng }}], {icon: new blackIcon()}).addTo(map);
        </script>

    </body>
</html>
